body {
  margin: 0;
  font-family: Georgia, serif;
  background: linear-gradient(120deg, #ece7ff, #ffffff, #e5fffb);
  color: #111827;
}

header {
  height: 70px;
  background: #f5f6ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 8px #ddd;
  position: sticky;
  top: 0;
}

nav a {
  margin: 0 18px;
  text-decoration: none;
  color: #111827;
  font-weight: bold;
}

.hero {
  display: flex;
  gap: 90px;
  padding: 140px 18%;
}

.profile {
  text-align: center;
  width: 320px;
}

.profile img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 6px solid white;
  object-fit: cover;
  box-shadow: 0 10px 30px #ccc;
}

.profile h1 {
  font-size: 42px;
  margin-bottom: 5px;
}

.profile h3 {
  color: #5b35ff;
  font-size: 24px;
}

.pronoun {
  color: #555;
}

.icons a {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: white;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  box-shadow: 0 4px 12px #ccc;
}

.content {
  max-width: 650px;
}

.content h2, section h2 {
  font-size: 34px;
}

.content p {
  font-size: 18px;
  line-height: 1.7;
}

.btn {
  display: inline-block;
  background: linear-gradient(90deg, #5b35ff, #009688);
  color: white;
  padding: 16px 35px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin: 25px 0;
}

.cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: rgba(255,255,255,0.7);
  padding: 25px;
  width: 230px;
  border-radius: 12px;
  box-shadow: 0 5px 20px #ddd;
}

section {
  padding: 60px 18%;
}

html {
  scroll-behavior: smooth;
}
